.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 70px;
  /* width: 100vw; */
  background: #000;
}
.link {
  display: inline-flex;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 22px;
  transition: all 0.5s;
  color: #868585;
  text-decoration: none;
}
.link:hover {
  color: #8685859d;
}
.active {
  color: white;
  border-color: white;
}
