.wrap {
  display: flex;
  gap: 11px;
  padding-bottom: 20px;
}
.btn {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  transition: 0.5s;
}
.btn:hover {
  border: 1px solid rgba(37, 151, 245, 0.801);
  background-position: right center;
}
